@import "sub/fonts.css";
@import "bootstrap/bootstrap.min.css";
@import "sub/buttons.css";
@import "sub/nav-link.css";

h1{
    color: #DB3022;
}

a{
    color: #DB3022;
    text-decoration: none;
}

button{
    height: 48px;
    aspect-ratio: 30/14;
    font-size: 14px;
}

