@import "sub/fonts.css";
@import "bootstrap/bootstrap.min.css";
@import "sub/buttons.css";


body{
    background-color: white;
    font-family: metropolis-r;
}

.text-logo{
    color:red;
}

.input{
    width: 25em;
}

a {
    text-decoration: none;
}

.btn-min, .btn-max{
    width: 30px;
    height: 30px;
    line-height: 0;
    border: none;
    background-color: #D4D4D4;
}