@import "sub/fonts.css";
@import "bootstrap/bootstrap.min.css";
@import "sub/buttons.css";

.icon-sidebar{
    /* width: 32px;
    height: 32px; */
    display: inline-block;
    padding: 7px;
}

.label-width{
    min-width: 7.313rem;
}

a{
    text-decoration: none;
}

.bg-color1{
    background-color: #E5E5E5;
}

.bg-color2{
    background-color: #F5F5F5;
}

.body{
    font-family: metropolis-r;
}

.inputT{
    width: 100%;
}