@import "sub/fonts.css";
@import "bootstrap/bootstrap.min.css";
@import "sub/buttons.css";

h1{
    color: #DB3022;
}

a{
    color: #DB3022;
    text-decoration: none;
}

button{
    height: 48px;
    width: 123px;
    font-size: 14px;
}